.video-item {
  &__thumbnail {
    position: relative;
    &--image {
      width: 100%;
      max-height: 25rem;
      margin-bottom: 5px;
    }

    &--text {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $primary-text-color;
      font-size: $font-size-m;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__info {
    font-size: $font-size-xs;
    &--title {
      display: block;
      color: $primary-text-color;
      font-weight: bold;
    }

    &--date {
      display: inline-block;
      color: $secondary-text-color;
    }
  }
}

.video-item:hover {
  cursor: pointer;
}

.video-item:hover .video-item__thumbnail--image {
  -webkit-filter: blur(1px) brightness(50%);
  filter: blur(1px) brightness(50%);
}

.video-item:hover .video-item__thumbnail--text {
  opacity: 1;
  top: 50%;
}

@media only screen and (max-width: 768px) {
  .video-item {
    margin: 2rem 0 0 0;
  }
}
