$primary-color: #272121;
$secondary-color: #352f44;
$tertiary-color: #5c5470;

$primary-text-color: white;
$secondary-text-color: #dbd8e3;

$primary-brand-color: #d72323;

$font-size-xs: 1.4rem;
$font-size-s: 1.8rem;
$font-size-m: 2.4rem;
$font-size-l: 3rem;
$font-size-xl: 3.6rem;

$desktop-breakpoint: 45rem;
